*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(26, 22, 245, 0.37);
}
main{
    background-image: linear-gradient(to left,#ffffff83, #1b2df763);
    margin-left:200px;
    margin-top: 20px;
    margin-right:200px;
    border:1px solid rgba(24, 23, 23, 0.404);
}
img{
    width: 900px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(112, 129, 145);
    box-shadow: 5px 5px 10px 3px rgba(112, 129, 145, 0.493);
}
h1{
    font-family: 'Anton';
    text-align: center;
    color:#5f4d0a;
}
iframe{
    margin-left: 170px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid rgb(112, 129, 145);
    box-shadow: 5px 5px 10px 3px rgba(112, 129, 145, 0.486);
}